@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
$font: 'Lato', sans-serif;

h1, h2, h3, h4, h5, h6, p, li {
    font-family: $font;
    font-weight: lighter;
}

// headings
@for $i from 1 through 6 {
    h#{$i} {
       font-size: ($default-heading-size+$heading-size-decrease) - $i * $heading-size-decrease;
       color: $font-color;
       @if $i == 4 {
           text-transform: uppercase;
           color: $font-color-light;
       }
    }
 }

 // individual headings
 h1 {
    margin: 46px 0;
 }


 p {
     color: $font-color-light;
     font-size: $default-font-size;
 }

 ul {
     color: $font-color-light;
 }