// Colors
$primary-color: rgba(247, 123, 24, 1);
$header-color: #E60012;

// Font Colors
$font-color: #000;
$font-color-light: #777;
$font-color-header: white;

// Page Layout
$max-page-width: 1000px;